<%= content_tag :div, class: "temp_information", data: {temp: @gpArray, exp: @expansions, game: "SevenWonders"} do %>
<% end %>

<%= render 'shared/game_setup' %>

<div class="container">
	<div class = "col" style="text-align: left">
		<div class="col-sm-6" style="min-height: 260px; height: auto; border: solid">
			<br>
			
			<% if @playerBoards.size > 0 %>
				<%= form_tag(seven_wonders_path, method: "post") do  %>
					<% @playerBoards.each do |b| %>
						<%= label_tag "#{b[0]}: " %>
						<%= text_field_tag "name[]", b[0], readonly: true, hidden: true %>
						<%= number_field_tag "scores[]", 10 %>
						<% if b[1] == "Pick your board" %>
							<%= select_tag "boardname[]", options_for_select(@allBoards) %>
							<br>
						<% else %>
							<%= text_field_tag "boardname[]", b[1], readonly: true %>
							<br>
						<% end %>
					<% end %>
					<%= submit_tag("Submit", :name => 'submit') %>
				<% end %>				
			<% end %>
			<br>				
		</div>
		<div class="col-sm-3" style="min-height: 260px; height: auto; border: solid">
			<br>
			Results
			<br>
			<% @pastGames[0].each do |p| %>
				<%= "#{p[2]} - #{p[0]} - #{p[1]}" %>
				<br>
			<% end %>
			<br>
		</div>
		<div class="col-sm-3" style="min-height: 260px; height: auto; border: solid">
			<br>
			Winners
			<br>
			<% @pastGames[1].each do |key, value| %>
				<%= "#{key}: #{value}" %>
				<br>
			<% end %>
			<br>
		</div>
	</div>
</div>



