<br>
<br>
 <div class="col-sm-1">
 	
 </div>
 <div class="col-sm-2">
    <%= form_tag settings_password_path, method: :patch do %>
      <%= hidden_field_tag(:admin_id, current_admin.id) %>
	  <%= label_tag "Current Password" %>
      <br>
      <%= password_field_tag :password %>
      <br>
	  <%= label_tag "Password" %>
      <br>
	  <%= password_field_tag :new_password %>
	  <br>
	  <%= label_tag "Confirm Password" %>
	  <br>
	  <%= password_field_tag :new_password_confirmation %>
	  <%= submit_tag "Change Password" %>
	  <% end %>
 </div>

 <div class="col-sm-2">
 	yo
 </div>
