<div id = "error">
	<% if @admin.errors.any? %>
		<% @admin.errors.full_messages.each do |e| %>
			<%= e %>
			<br>
		<% end %>
	<% end %>
</div>
<br>
<br>
 <div class="col-sm-1">
 	
 </div>
 <div class="col-sm-2">
    <%= form_tag settings_password_path, method: :patch do %>
      <%= hidden_field_tag(:name, current_admin.name) %>
	  <%= label_tag "Current Password" %>
      <br>
      <%= password_field_tag :current_password %>
      <br>
	  <%= label_tag "New Password" %>
      <br>
	  <%= password_field_tag :password %>
	  <br>
	  <%= label_tag "Confirm Password" %>
	  <br>
	  <%= password_field_tag :password_confirmation %>
	  <%= submit_tag "Change Password" %>
	  <% end %>
 </div>

