<%= content_tag :div, class: "temp_information", data: {temp: @gpArray} do %>
<% end %>

<div class="container">
	<div class = "col">
		<div class="col-sm-3 select-group" style="height: 260px; border: solid;">
			<div id = "error">
				<% if @group.errors.any? %>
					<% @group.errors.full_messages.each do |e| %>
						<%= e %>
						<br>
					<% end %>
				<% end %>
			</div>
			select/create group	
			<br>
			<% @allGroups.each do |g| %>
				<div class="highlight-blue blue-bordered">
					<div class="left">
						<%= g.name %>
					</div>
					<div class="right"> 
						<span class="glyphicon glyphicon-edit edit_item_icon edit_group"> </span> 
						<span class="glyphicon glyphicon-ok add_item_icon save_group"> </span> 
						<span class="glyphicon glyphicon-remove remove_item_icon remove_group"> </span>
					</div>
					<br>
				</div>
			<% end %>	
			<br>
			<%= form_tag settings_groups_path do %>
		      <%= label_tag "New Group" %>
		      <br>
			  <%= text_field_tag :name %>
			  <br>
			  <%= submit_tag "Add Group" %>
			 <% end %>
		</div>
		<div class="col-sm-3 select-group" style="height: 260px; border: solid;">
			Current Players
			<div id="current-players">

			</div>
		</div>
		<div class="col-sm-3 select-group" style="height: 260px; border: solid;">
			Add players
			<br>
			<div id="available-players">

			</div>
		</div>

	</div>
	
</div>