<div class = "row">
<div class="col-sm-2">
 	<br>
 	<br>
 	<%= render 'shared/players' %>
 </div>

 <div class="col-sm-2">
	<br>
	<br>
 	<div id = "error">
		<% if @player.errors.any? %>
			<% @player.errors.full_messages.each do |e| %>
				<%= e %>
				<br>
			<% end %>
		<% end %>
	</div>
	<%= form_tag settings_players_path do %>
      <%= hidden_field_tag(:name, current_admin.name) %>
	  <br>
	  <%= label_tag "Name" %>
      <br>
	  <%= text_field_tag :name %>
	  <br>
	  <%= submit_tag "Add Player" %>
	  <% end %>
 </div>
</div>

